

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 1%;
    height: 1%;
    padding: 0px;
}

body, select {
    text-align: left;
    font-family: sans-serif;
    font-size: calc(3px + 1vw); /* Results in 1vw with minimum of 3px */
    min-font-size: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(6px + 5vw);
    margin-bottom: 2vw;
}

.hangmanWord {
    font-family: "Courier New", "Courier", monospaced, serif;
    letter-spacing: .5vw;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2vw;

   /*  display: table-cell;
    vertical-align: bottom;  */
}

.missedLetter {
    color: red;
}

.letterBtn {
    font-family: "Courier New", "Courier", monospaced, serif;
    font-size: calc(2px + 2vw);
    width: 100%;     /* calc(3px + 2.5vw); */
    text-align: center;
    padding: 0px;
}

canvas {
    float: left;
    width: 100%;
    height: 100%;
}

.nowrap {
    white-space: nowrap;
    text-align: left;
}

.spaceBelow {
    margin-bottom: 2vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Color for browsers not supporting opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1vw;
    border: 1px solid #888;
    width: 80vw;
}

.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 5vw;
    font-weight: bold;
    /* padding-top: -100px; */
    position: relative;
    top: -1.7vw;
    left: .5vw;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.floatRight {
    float: right;
}

.iconButton {
    border: none;
    background: none;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 12px;
    min-height: 12px;
    padding: 0px;
}

.iconButtonImage {
    width: 2vw;
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
    position: relative;
    top: 2.5vw;
}

.iconButtonSpacer {
    width: 1vw;
    min-width: 5px;
    min-height: 5px;
    padding: 0px;
}